.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
  padding: 0 5rem;
}
.about-title {
  text-transform: uppercase;
  padding-left: 1rem;
}
.about-title h3 {
  letter-spacing: 0.5rem;
}

.about-intro {
  font-size: larger;
}
.about-text {
  width: 75%;
}
