.b2b-container {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b2b {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}
.b2b h2 {
  padding-top: 2rem;
}

.b2b p {
  padding: 1rem;
  font-size: 1.2rem;
}
.refOne {
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.refOne p {
  font-style: italic;
}

.refTwo {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.refTwo p {
  padding: 0 4rem;
  text-align: center;
  font-style: italic;
}

.refTwo img {
  margin-left: 1rem;
}
