.b2b-container {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b2b {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}
.b2b h2 {
  padding-top: 2rem;
}

.b2b p {
  padding: 1rem;
  font-size: 1.2rem;
}
.refOne {
  /* width: 100%; */

  display: flex;
  background-color: aliceblue;
  flex-direction: column-reverse;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  margin: 1rem;
}

.refOne p {
  font-style: italic;
  padding: 1rem;
}

.refTwo {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.refTwo p {
  padding: 1rem;
  text-align: center;
  font-style: italic;
}

.refTwo img {
  margin-left: 1rem;
}
@media (min-width: 1000px) {
  .refOne {
    flex-direction: row;
  }
}
@media (min-width: 1020px) {
  .refOne {
    flex-direction: row;
    width: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    /* width: 80%; */
  }
  .refOneText {
    width: 50%;
    display: flex;
    padding-left: 3rem;
  }
  .refOneText p {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .refOneImg {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .refOneImg img {
    width: 400px;
    /* height: auto; */
  }

  .refTwo {
    width: auto;
    padding: 2rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem;
  }

  .refTwoText {
    width: 50%;
    display: flex;
  }
  .refTwoText p {
    margin: 0;
  }

  .refTwoImg {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .refTwo p {
    padding: 0 4rem;
  } */
}
