.footer-container {
  background-color: #b97979;
  color: #fff;
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}

.footer-links p {
  font-size: 1.3rem;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.contact-info {
  list-style-type: none;
  padding-bottom: 2rem;
}

h2 {
  font-weight: 400;
}

.footer-links a:hover {
  color: black;
}
