.header-container {
  height: 4rem;
  position: fixed;
  width: 80%;
  background-color: #fff;
  top: 0px;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 1rem;
}
.navbar img {
  height: 3rem;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

.nav-menu li {
  flex-direction: row;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 400;
}
