.header-container {
  height: 4rem;
  position: absolute;
  background-color: #fff;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding-top: 1rem;
}
.navbar img {
  height: 3rem;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

.nav-menu li {
  flex-direction: row;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 500;
}
