.products-container {
  margin-top: 6rem;
  padding: 0 2rem;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container div {
  padding-top: 5rem;
}

.products-container h1 {
  margin-top: 4rem;
}
.outdoor {
  display: flex;
  /* width: 80%; */
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
}

.outdoor p {
  /* padding-right: 2rem; */
  font-size: 1.2rem;
  text-align: center;
}

.outdoor img {
  height: 20rem;
  width: 20rem;
}
.pt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: row-reverse; */
  /* width: 80%; */
  width: 100%;
  height: auto;
}

.pt p {
  padding-left: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.b2b {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
/* 
@media (max-width: 1000px) {
  .products-container {
    padding: 0 2rem;
  }

  .pt,
  .outdoor {
    flex-direction: column;
    width: 100%;
  }

  .pt p,
  .outdoor p {
    text-align: center;
    padding: 0;
  }
} */
