.products-container {
  padding: 0 2rem;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container div {
  padding-top: 1rem;
}

.products-container h1 {
  margin-top: 4rem;
}
.intro {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  padding-top: 1rem;
}
.outdoor {
  width: 80%;
  height: auto;
  display: flex;
  background-color: aliceblue;
  margin: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
}

.pt {
  display: flex;
  width: 80%;
  height: auto;
  background-color: aliceblue;
  margin: 2rem;
  padding: 2rem;
}

.outdoor p,
.pt p {
  font-size: 1.2rem;
  padding: 0 2rem;
}

/* .outdoor img,
.pt img {
  padding: 1rem;
  height: auto;
  width: 100%;
} */

@media (min-width: 400px) {
  .intro {
    font-size: 1.2rem;
    padding: 0;
  }

  .outdoor,
  .pt {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .outdoor p,
  .pt p,
  .b2b p {
    font-size: 1rem;
    padding: 0;
  }

  .outdoor img {
    height: 200px;
    width: 250px;
  }
  .pt img {
    height: 200px;
    width: 250px;
  }
}
@media (min-width: 800px) {
  .products-container {
    padding: 0 5rem;
  }
  .outdoor {
    flex-direction: row;
  }
  .outdoor p,
  .pt p {
    text-align: start;
    padding: 1rem;
  }
  .outdoor img {
    height: 300px;
    width: 300px;
  }

  .pt {
    flex-direction: row-reverse;
  }

  .pt img {
    height: 300px;
    width: 300px;
    margin-bottom: 1rem;
  }
}
