.textblock {
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  width: 100%;
  background-color: #778a77;
}
.textbg {
  height: auto;
}

.writer {
  height: 100%;
  text-align: center;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: #fff;
}
