.textblock {
  background-color: #9eb89e;
  height: 6.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

.writer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
