.textblock {
  display: flex;
  justify-content: center;
}
.textbg {
  background-color: #9eb89e;
  height: 6.5rem;
  width: 100%;
}

.writer {
  height: 100%;
  text-align: center;
  padding: 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  color: #fff;
}
